<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10605901487-0hvqf4uu2b0kea2rtds3u46choul4me7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10605901487-0hvqf4uu2b0kea2rtds3u46choul4me7</string>
	<key>API_KEY</key>
	<string>AIzaSyDfjrSV2zyn2D6TYn5xEJc57PJbNNpYg-A</string>
	<key>GCM_SENDER_ID</key>
	<string>10605901487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gabrielssouza.listme</string>
	<key>PROJECT_ID</key>
	<string>list-me-app-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>list-me-app-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10605901487:ios:4f9d4a11d822f8ba8c465a</string>
</dict>
</plist>